@import url('https://fonts.googleapis.com/css2?family=Vujahday+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Vujahday+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400&family=Lobster&family=Vujahday+Script&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-height: 100vh;
    background-color: rgba(5, 5, 24, 0.904);
    color: white;
    font-family: 'Lato', sans-serif;
}

body a {
    font-size: 20px;
    color: white;
}

body h1 {
    padding-top: 20px;
    width: 70%;
    margin: auto;
    font-family: 'Lobster', cursive;

}

main {
    display: flex;
    flex-direction: row;
    gap: 50px;
    width: 70%;
    margin: auto;
    padding-top: 30px;
}
.intro {
 
}

.timer {
    display: flex;
    gap: 20px;
}

.registration-form {
    margin-left: 30px;
}

.registration-form-h1 {
    font-family: 'Vujahday Script', cursive;
}

.registration-form label {
    font-size: 18px;
    margin: 15px 0;
    padding: 10px;


}

.registration-form input {
    background-color: rgba(5, 5, 24, 0.904);
    font-size: 16px;
    width: 100%;
    padding: 15px 10px;
    border: 0;
    outline: none;
    border-radius: 5px;
    margin: 10px;

}

.registration-form button {
    font-size: 18px;
    border: none;
    background: linear-gradient(to right, purple, blue, indigo);
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
    margin-right: 10px;
    color: #fff;
    
}

footer span {
    text-align: center;
    font-family: 'Moon Dance', cursive;
    font-size: 18px;
    font-weight: bold;
    color: rgb(219, 40, 219);
    margin-left: 450px;
}